@model List<dbl_category>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Category</h2>
<script>
    function ConfirmDelete() {
        return confirm('Are you sure you want to delete');
    }
</script>

    <table class="table-bordered table-striped col-md-5">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.List)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@Html.ActionLink("Edit", "Edit", "Home", new { id = item.CategoryId }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Home", new { id = item.CategoryId }, new { @class = "btn btn-primary", onClick= "return ConfirmDelete()" })</td>
            </tr>
        }

    </table>